* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    color: black;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color:black;
}

a:visited {
    color:grey;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 36px;
}

#topics {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
}

#topics li {
    list-style: none;
}

.articles {
    display: flex;
    justify-content: space-around;
}

#left {
    display: flex;
    flex-direction: column;
    padding: 10px;

}

#right {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
