* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    color: black;
    background-color: #fdfffc;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: black;
}

a:visited {
    color:grey;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 36px;
}

#topics {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 200px;
}

#topics a {
    color: black;
}

#topics a:hover {
    font-weight: 600;
    background-color: yellow;
}

#topics li {
    list-style: none;
    margin-bottom: 10px;
    /*display: inline;*/
}

.articleBlock {
    display: flex;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 400px;
}

.column h1{
    font-weight: 200;
}

.article {
    margin-bottom: 20px;
}

.highlight {
    background-color: yellow;
}

.big-question {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 100px;
}
